/* General styling */

html {
  font-size: 18px; /*sets base font size*/
  font-family: Helvetica;
}

.body {
  background-color: black;
  color: white;
}

/* general container used for whole site */

.container {
  max-width: 960px;
  margin: auto;
}

/* header section */

header {
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  background-color: black;
  padding-top: 0.66rem 0;
}

.logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

/* banner section */

.banner {
  background-image: url("../../resources/images/moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.newarrival {
  background-color: black;
  width: 20rem;
  top: 9em;
  padding: 2rem 3rem;
  position: relative;
}

.newarrival h4 {
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

.newarrival h1 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  padding-top: 0.25rem;
}

/* regular navigation */

nav {
  background-color: firebrick;
  padding: 0.75rem 0;
}

.reg_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reg_nav a {
  color: white;
}

/* mobile navigation */

.mobile_nav {
  /*commented out unless screen < 1024px */
  display: none;
}

.mobile_nav a {
  color: white;
}

/* product section */

.products {
  display: flex;
  justify-content: space-between;
  margin: 3em 0 0 0;
}

.product {
  width: 30%;
}

.product-images {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  height: 9rem;
  padding: 2rem 0;
}

.product-images img {
  max-width: 8rem;
}

.product span {
  display: block;
  text-align: center;
  background-color: black;
  padding: 1rem 0;
  color: white;
}

/* info section (location + hours) */

#info {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.logistics {
  width: 35%;
}

.logistics span {
  display: block;
  text-align: left;
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
}

.logistics p {
  padding-bottom: 4rem;
}

/* footer section */

footer {
  height: 5rem;
  background-color: black;
  padding-top: 5rem;
}

footer span {
  text-align: left;
  color: white;
}

/* media queries for less than 1024px*/

@media only screen and (max-width: 1024px) {

  /* nav section */
  .reg_nav {
    display: none;
  }

  .mobile_nav {
    display: flex;
    justify-content: center;
  }

/* product section styling */

#product_sunglasses {
  display: none;
}

.product {
  width: 47%;
}


/* media query for screen < 470px */

@media only screen and (max-width: 470px) {

  .container {
    padding: 0;
  }

  /*main banner section */
    .banner {
    height: 15rem;
  }

  /* new arrival section */
  .newarrival {
    width: 100%;
  }

  .newarrival h4 {
    font-size: 0.77rem;
    font-weight: bold;
  }

  .newarrival h1 {
    font-size: 1rem;
    font-weight: bold;
  }

    /* product section */

    #product_watch {
      display: none;
    }

  .product {
    width: 90%;
    margin: auto;
  }

  #info {
  flex-direction: column;
  align-items: center;
  }

  .logistics {
    width: 90%;
  }

  footer span {
    text-align: center;
    display: block;
  }
}
